doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title Checkout of #{group.name}
    body
      h2.h2 Creditors
      each member in members
        if balances[member.email] > 0
          h3.h3 #{member.name}
          ul
            each transaction in transactions
              if transaction.to.email == member.email
                - var amount = Math.round(transaction.amount, 2)
                li &euro; #{amount} from #{transaction.from.name}
      h2.h2 Debitors
      each member in members
        if balances[member.email] < 0
          h3.h3 #{member.name}
          ul
            each transaction in transactions
              if transaction.from.email == member.email
                - var amount = Math.round(transaction.amount, 2)
                li &euro; #{amount} to #{transaction.to.name}
